data/raw/*
data/cutadapt/**/*.fastq
data/cutadapt/**/*.fastq.gz
data/dada2/hash_key*
data/dada2/cleaned_hash_key*
data/dada2/*.rds
data/blast/*.fasta
data/blast/*.csv
data/results/*
data/blast/**/*.fasta
data/blast/**/*.csv
data/metadata/*.rds
data/bioE/literature/**
figs/*
.Rhistory
**/.Rhistory
**/.Rproj
**.Rproj
**.RData
**/*.RData

scripts/*.html
scripts/explore_results/*.html
.Rproj.user
data/bioE/OAimpact_runs1-2_lerayxt_allTaxa.csv
data/bioE/OAdiets_all_taxa_toMatch.csv
scripts/dDNA_results/Correlate_Diet_with_Size.html
