data/raw/*
data/cutadapt/noprimers/*.fastq
data/cutadapt/noprimers_filtered/*.fastq.gz
data/dada2/hash_key*
data/dada2/cleaned_hash_key*
data/dada2/*.rds
data/blast/*.fasta
data/blast/*.csv
data/results/*
data/blast/**/*.fasta
data/blast/**/*.csv
data/metadata/*.rds
figs/*
.Rhistory
**/.Rhistory

scripts/*.html
scripts/explore_results/*.html